// ! 500 is the main color

$md-primary: (
  50: #e2e9ea,
  100: #b7c7ca,
  200: #88a2a7,
  300: #587d84,
  400: #346169,
  500: #10454f,
  600: #0e3e48,
  700: #0c363f,
  800: #092e36,
  900: #051f26,
  A100: #62d6ff,
  A200: #2fc8ff,
  A400: #00b9fb,
  A700: #00a6e1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$md-accent: (
  50: #fdf5e6,
  100: #fbe7c1,
  200: #f9d798,
  300: #f6c66e,
  400: #f4ba4f,
  500: #f2ae30,
  600: #f0a72b,
  700: #ee9d24,
  800: #ec941e,
  900: #e88413,
  A100: #ffffff,
  A200: #fff1e4,
  A400: #ffd8b1,
  A700: #ffcb97,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-warn: (
  50: #f2e0e0,
  100: #dfb3b3,
  200: #ca8080,
  300: #b54d4d,
  400: #a52626,
  500: #950000,
  600: #8d0000,
  700: #820000,
  800: #780000,
  900: #670000,
  A100: #ff9696,
  A200: #ff6363,
  A400: #ff3030,
  A700: #ff1717,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$primary-500: map-get($map: $md-primary, $key: 500);
$accent-500: map-get($map: $md-accent, $key: 500);
$warn-500: map-get($map: $md-warn, $key: 500);
