.container {
  margin: 20px;
}

.sendMessage {
  margin: 10px 10px 20px 0;
}

.message {
  margin: 5px 0;
}

.info-message {
  font-style: italic;
}

.chat-message {
  background-color: #607d8b;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
}

.author {
  // font-size: smaller;
  opacity: 0.4;
}

.current-users-message {
  background-color: #c2185b !important;
}

.message-divider {
  margin: 10px 0;
}
